<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>plistDefinition</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Property List Definition (old)</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PEStructureDefinitionDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>plist</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Property List</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>plst</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PEPlistDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>XML File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PEPlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dict</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Dictionary</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PEPlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xcodeplugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Property List Definition</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PEStructureDefinitionDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scriptSuite</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Applescript Script Suite</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PEPlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scriptTerminology</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Applescript Script Terminology</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PEPlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Other</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PEPlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pbxkeys</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Keybindings File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PEPlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xctxtmacro</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PlistDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Xcode Text Macro</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PEPlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>PlistEdit Pro</string>
	<key>CFBundleGetInfoString</key>
	<string>PlistEdit Pro 1.5, Copyright 2009 t0mm1gun.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleHelpBookName</key>
	<string>PlistEdit Pro Help</string>
	<key>CFBundleIconFile</key>
	<string>PlistEditPro.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.mac.bwebster.PlistEditPro</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PlistEdit Pro</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>CFBundleSignature</key>
	<string>pEDT</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>URL Schemes</key>
			<array>
				<string>plisteditpro</string>
			</array>
			<key>URL identifier</key>
			<string>PlistEdit Pro URL</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.5</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.8</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open Text in PlistEdit Pro</string>
			</dict>
			<key>NSMessage</key>
			<string>openPlistText</string>
			<key>NSPortName</key>
			<string>PlistEdit Pro</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>PlistEditPro.sdef</string>
	<key>SUPublicDSAKeyFile</key>
	<string>sparkle_pub.pem</string>
</dict>
</plist>
