<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleEventCode</key>
	<string>xcde</string>
	<key>Classes</key>
	<dict>
		<key>XcodeApplication</key>
		<dict>
			<key>Elements</key>
			<dict>
				<key>projects</key>
				<string>proj</string>
			</dict>
			<key>ObjectClass</key>
			<string>capp</string>
			<key>Properties</key>
			<dict/>
		</dict>
		<key>XcodeFileReference</key>
		<dict>
			<key>Elements</key>
			<dict/>
			<key>ObjectClass</key>
			<string>filr</string>
			<key>Properties</key>
			<dict/>
		</dict>
		<key>XcodeGroup</key>
		<dict>
			<key>Elements</key>
			<dict>
				<key>fileReferences</key>
				<string>filr</string>
			</dict>
			<key>ObjectClass</key>
			<string>grup</string>
			<key>Properties</key>
			<dict/>
		</dict>
		<key>XcodeItemReference</key>
		<dict>
			<key>Elements</key>
			<dict/>
			<key>ObjectClass</key>
			<string>iter</string>
			<key>Properties</key>
			<dict>
				<key>fullPath</key>
				<string>abph</string>
			</dict>
		</dict>
		<key>XcodeObject</key>
		<dict>
			<key>Elements</key>
			<dict/>
			<key>ObjectClass</key>
			<string>cobj</string>
			<key>Properties</key>
			<dict>
				<key>name</key>
				<string>pnam</string>
				<key>uniqueID</key>
				<string>ID  </string>
			</dict>
		</dict>
		<key>XcodeProject</key>
		<dict>
			<key>Elements</key>
			<dict>
				<key>fileReferences</key>
				<string>filr</string>
				<key>targets</key>
				<string>tarR</string>
			</dict>
			<key>ObjectClass</key>
			<string>proj</string>
			<key>Properties</key>
			<dict>
				<key>activeTarget</key>
				<string>atar</string>
				<key>projectDirectory</key>
				<string>pdir</string>
				<key>rootGroup</key>
				<string>rgru</string>
			</dict>
		</dict>
		<key>XcodeProjectItem</key>
		<dict>
			<key>Elements</key>
			<dict/>
			<key>ObjectClass</key>
			<string>prtm</string>
			<key>Properties</key>
			<dict/>
		</dict>
		<key>XcodeTarget</key>
		<dict>
			<key>Elements</key>
			<dict/>
			<key>ObjectClass</key>
			<string>tarR</string>
			<key>Properties</key>
			<dict/>
		</dict>
	</dict>
	<key>PropertyClasses</key>
	<dict/>
</dict>
</plist>
